<p>Cher administrateur du Tourmagne,</p>
<p><a href='https://drive.google.com/drive/folders/{{challengerFolderId}}'>{{firstname}} {{lastname}}</a> vient de lancer la soumission de ses fichiers. Ceux-ci seront disponibles dans ce <a href='https://drive.google.com/drive/folders/{{submissionFolderId}}'>dossier Google Drive</a> dans quelques minutes.</p>
<p>Ses fichiers GPX contiennent au total {{challPointsLength}} points GPX.
{{!-- {{#if (lt challPointsLength minChallengerGpxPoints)}}
<span style="color:red;"> ALERTE! Ce nombre de points est inférieur à {{minChallengerGpxPoints}}, une vérification manuelle détaillée des fichiers soumis par le challenger est nécessaire.</span>
{{else}}
Ce nombre de points est supérieur à {{minChallengerGpxPoints}} et semble donc conforme.
{{/if}} --}}
</p>
<p>Voici le texte que {{firstname}} {{lastname}} a rédigé:<br>
<i>{{text}}</i></p>
<p>De ton côté, voici les actions qu'il te reste à réaliser :<p>
<ul>
<li>Vérifie si {{firstname}} {{lastname}} est lauréat ou poète</li>
<li>Envoie-lui un email pour l'informer de son résultat</li>
<li>Ajoute son récit au <a href='https://tourmagne.bike/tableau-dhonneur-et-recits/'>tableau d'honneur</a></li>
</ul>
<p>Merci pour l'aide que tu apportes à l'association Challenge du Tourmagne !</p>
