<main class='container'>
  <h1 class='text-center my-3'>{{firstname}} {{lastname}}, envoie-nous tes traces et souvenirs du challenge du Tourmagne !</h1>
  <section>
    <h2 class='text-center'>Formulaire de validation du challenge du Tourmagne</h2>
    <form id='form' method='POST' enctype='multipart/form-data'>
      <section class='light'>
        <div class='form-group'>
          <label for='text'>Raconte-nous ton souvenir le plus marquant</label>
          <textarea id='textInput' name='text' rows='10' class='form-control' required></textarea>
          <small>Champ obligatoire</small>
          <p id='textIssues' class='text-danger'></p>
        </div>
        <div class='form-group'>
          <label for='gpxFilesInput'>Envoie-nous tes traces GPX pour que nous puissions valider ton challenge</label>
          <input id='gpxFilesInput' name='gpxFiles' type='file' class='form-control' accept='.gpx' multiple required />
          <small>Champ obligatoire - Maximum {{maxGpxNb}} fichiers GPX de {{maxFileSizeMo}} Mo chacun<br>
          Les fichiers GPX doivent impérativement contenir des données temporelles (heure de passage à chaque point GPS)<br>
          Les fichiers GPX ne doivent pas se chevaucher temporellement</small>
          <p id='gpxIssues' class='text-danger'></p>
        </div>
        <div class='form-group'>
          <label for='photoFilesInput'>Envoie-nous quelques photos de ton aventure pour le <a href='https://tourmagne.bike/tableau-dhonneur-et-recits/' target='_blanck'>tableau d'honneur</a></label>
          <input id='photoFilesInput' name='photoFiles' type='file' class='form-control' accept='image/*' multiple />
          <small>Champ faculatif - Maximum {{maxPhotoNb}} photos de {{maxFileSizeMo}} Mo chacune</small>
          <p id='photoIssues' class='text-danger'></p>
        </div>
        <input id='challengerFolderId' name='challengerFolderId' type='hidden' value='{{challengerFolderId}}'>
        <input id='firstname' name='firstname' type='hidden' value='{{firstname}}'>
        <input id='lastname' name='lastname' type='hidden' value='{{lastname}}'>
      </section>
      <button id='submitButton' type='submit' class='btn btn-primary'>Soumettre mes données</button>
      <p id='genericIssues' class='text-danger light my-2'></p>
    </form>
  </section>
  <div id='message' class='bg-warning rounded text-white text-center p-2 fs-2 m-4 d-none'></div>
  <section id='results' class='d-none'>
    <h2>Tous vos fichiers ont bien été soumis, vous pouvez fermer cette fenêtre !</h2>
    <section class='light'>
      <p><strong>Ne soumettez plus aucun fichier, nous allons les traiter et vous faire un retour par email sous une semaine.</strong></p>
      <br>
      <p>Synthèse des données soumises :</p>
      <ul class='light'>
        <li id='successGpx'></li>
        <li id='successPhotos'></li>
        <li>Texte: <br><i id='successText'></i></li>
      </ul>
    </section>
  </section>
</main>
<script src='public/index.js'></script>
